.card-persona .card-header{
    background: #2FCD71;
    color: #FFFFFF;
}

.repetidor .card-title{
    color: #E64B3C;
}

.card-calculadora .card-header{
    background: #BB2144;
    color: #FFFFFF;
}

.section-lista-persona .card-title{
    color: #082D59;
}
.section-lista-persona .card-header{
    background: #DCC551;
    color: #FFFFFF;
}